<h1>Products</h1>

<ng-container *ngIf="data; else loading">
    <pre> {{ data | json }}</pre>
    <div class="container">
        <div class="product-list">
            <div *ngFor="let product of data" class="product-tile">
                <div class="product-tile-container">
                    <div class="image-wrapper">
                        <img [src]="product.images[0]" />
                    </div>
                    <div class="product-name">{{product.name}}</div>
                    <div class="product-price">{{product.price.sale}}</div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loading>
    loading...
</ng-template>
